apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: sample-spring-kafka-microservices
  labels:
    app: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - env:
        - name: SPRING_PROFILES_ACTIVE
          value: docker
        image: sample-spring-kafka-microservices/order-service:1.0-SNAPSHOT
        imagePullPolicy: IfNotPresent
        name: order-service
        ports:
        - containerPort: 8080
          name: order-serv-8080
          protocol: TCP
      restartPolicy: Always

