apiVersion: v1
kind: Service
metadata:
  name: broker
  namespace: sample-spring-kafka-microservices
  labels:
    app: broker
spec:
  type: ClusterIP
  selector:
    app: broker
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
