apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: sample-spring-kafka-microservices
  labels:
    app: order-service
spec:
  type: LoadBalancer
  selector:
    app: order-service
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
